<h2>Your API token is</h2>
<code>sha256~code2</code>
<h2>Log in with this token</h2>
<pre>oc login <span class="nowrap">--token=sha256~code2</span> <span class="nowrap">--server=https://api.cluster:6443</span></pre>
<h3>Use this token directly against the API</h3>
<pre>curl <span class="nowrap">-H "Authorization: Bearer sha256~code2"</span> <span class="nowrap">"https://api.cluster:6443/apis/user.openshift.io/v1/users/~"</span></pre>
<br><br>
<a href="/oauth/token/request">Request another token</a>
